.footer {
    background-color: #5c5c5c;
    padding: 2rem 22.5rem;
    display: flex;
    justify-content: space-between;
    p {
        color: white;
        font-size: 1.4rem;
    }

    &-social {
        display: flex;
        gap: 1.5rem;
        & i {
            color: white;
        }
    }
}

@media screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .footer {
        padding: 1rem 10.5rem;
    }
}
