.body {
    .modest {
        background-color: white;
        padding: 4rem 22.5rem;
        padding-bottom: 2rem;
        &-main {
            padding-top: 4rem;
            display: flex;
            gap: 1.5rem;
            &-left {
                flex: 7;
                color: #aeb4b6;
                p span {
                    color: #333c42b5;
                }
                p {
                    margin-bottom: 1rem;
                }
                .icon {
                    margin-top: 3rem;
                    display: flex;
                    flex-direction: row;
                    gap: 2px;
                    div {
                        padding: 0.5rem 1.5rem;
                        background-color: #aeb4b6;
                        color: white;
                        font-size: 2rem;
                        &:hover {
                            opacity: 50%;
                            cursor: pointer;
                        }
                    }
                }
            }

            &-right {
                flex: 4;
                .idea {
                    display: flex;
                    gap: 1rem;
                    margin-bottom: 2rem;
                    &-number {
                        margin-top: 0.5rem;
                        padding: 0.5rem 1.2rem;
                        color: white;
                        background-color: #1bd5c9;
                        font-size: 2rem;
                        display: inline-block;
                        height: 4rem;
                    }
                    &-main {
                        &-title {
                            text-transform: uppercase;
                            font-weight: 500;
                            font-size: 1.5rem;
                        }

                        &-word {
                            font-size: 1.3rem;
                            line-height: 2rem;
                            color: #aeb4b6;
                        }
                    }
                }
            }
        }
    }

    .team {
        background-color: white;
        padding: 4rem 22.5rem;
        &-main {
            margin-top: 4rem;
            display: flex;
            justify-content: space-around;
            &-detail {
                position: relative;
                width: 21rem;
                .icon {
                    opacity: 0;
                    position: absolute;
                    top: 10rem;
                    left: 3.7rem;
                    margin-top: 3rem;
                    display: flex;
                    flex-direction: row;
                    gap: 2px;
                    div {
                        padding: 0.4rem 1.4rem;
                        background-color: #5c5c5c;
                        color: white;
                        font-size: 2rem;
                        &:hover {
                            background-color: #828080;
                            cursor: pointer;
                        }
                    }
                }
                .word {
                    padding: 1rem 1rem;
                    background-color: #e4e4e4;
                    display: flex;
                    flex-direction: column;
                    width: inherit;
                    height: fit-content;
                    line-height: 1.4rem;
                    .name {
                        text-transform: uppercase;
                        color: black;
                        margin-top: 1rem;
                    }
                    .description {
                        text-transform: capitalize;
                        color: #a9a8ac;
                    }
                }
                &:hover {
                    cursor: pointer;
                    .icon {
                        opacity: 1;
                    }
                    .word {
                        background-color: #5c5c5c;
                    }
                }
            }
        }
    }

    .work {
        background-color: #5c5c5c;
        padding: 4rem 22.5rem;
        .title1 {
            color: white;
        }
        &-image {
            padding: 4rem 0;
            display: grid;
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: repeat(3, 1fr);
            gap: 2.5rem;
            &-detail {
                position: relative;
                .cross {
                    opacity: 0;
                    position: absolute;
                    top: 45%;
                    left: 45%;
                }
                .word {
                    display: none;
                    position: absolute;
                    bottom: 0;
                    padding: 1rem 2rem;
                    background-color: #292828;
                    text-transform: uppercase;
                    color: white;
                    width: 100%;
                }
                &:hover {
                    cursor: pointer;
                    opacity: 70%;
                    .word {
                        display: block;
                    }
                    .cross {
                        opacity: 90%;
                    }
                }
            }
        }

        &-more {
            border: 2px solid white;
            border-radius: 4px;
            background-color: transparent;
            text-transform: uppercase;
            padding: 0.5rem 1.5rem;
            text-align: center;
            margin-left: 42%;
            color: white;
            margin-bottom: 2rem;
        }
    }

    .do {
        background-color: white;
        padding: 4rem 22.5rem;
        &-main {
            padding: 4rem 0;
            display: grid;
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: repeat(4, 1fr);
            gap: 2.5rem;
            margin-bottom: 2rem;
            &-detail {
                text-align: center;
                i {
                    color: #1bd5c9;
                    font-size: 4rem;
                    margin: 1rem 0;
                }

                h3 {
                    text-transform: uppercase;
                    font-size: 1.7rem;
                    font-weight: 600;
                    margin: 1rem 0;
                }

                p {
                    font-size: 1.2rem;
                    line-height: 2rem;
                    color: #a9a8ac;
                }
            }
        }
    }

    .feature {
        background-color: #5c5c5c;
        padding: 6rem 22.5rem;
        .title1 {
            color: white;
        }
        &-main {
            margin: 3rem 0;
            display: flex;
            gap: 3.5rem;
            color: white;
            &-detail {
                h3 {
                    margin-top: 3.5rem;
                    margin-bottom: 1.5rem;
                    text-transform: uppercase;
                    font-size: 1.5rem;
                }

                p {
                    font-size: 1.2rem;
                    line-height: 1.8rem;
                }
            }
        }
    }

    .stay {
        background-color: white;
        position: relative;
        .title1 {
            padding: 4rem 22.5rem;
        }
        img {
            padding: 0;
        }
        &-main {
            padding: 4rem 50rem 4rem 22.5rem;
            h3 {
                text-transform: uppercase;
                font-size: 1.7rem;
                font-weight: 600;
                margin-bottom: 1rem;
            }

            p {
                font-size: 1.2rem;
                line-height: 2rem;
                color: #a9a8ac;
            }
        }

        .message {
            position: absolute;
            padding: 2rem;
            background-color: white;
            top: 20rem;
            left: 60rem;
            .first {
                display: flex;
                flex-direction: row;
                gap: 1.5rem;
                margin-bottom: 2rem;
                div {
                    display: flex;
                    flex-direction: column;
                    label {
                        text-transform: uppercase;
                        font-size: 1.5rem;
                    }
                    input {
                        background-color: #e4e4e4;
                        border: none;
                        border-radius: 5px;
                    }
                }
            }

            .login-box3 {
                background-color: #e4e4e4;
                border: none;
                border-radius: 5px;
                resize: none;
            }

            .send {
                padding: 1rem 2.5rem;
                border-radius: 5px;
                background-color: #1bd5c9;
                text-transform: uppercase;
                color: white;
                font-size: 1.5rem;
            }
        }
    }
}

@media screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .body {
        .modest {
            padding: 2rem 10.5rem;
            padding-bottom: 2rem;
            &-main {
                padding-top: 2rem;
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                &-left {
                    p {
                        margin-bottom: 1rem;
                    }
                    .icon {
                        margin-bottom: 2rem;
                    }
                }
            }
        }
        .team {
            padding: 2rem 10.5rem;
            &-main {
                margin-top: 2rem;
                display: grid;
                grid-template-rows: repeat(2, 1fr);
                grid-template-columns: repeat(2, 1fr);
                gap: 3.5rem 2rem;
                &-detail {
                    position: relative;
                    .icon {
                        opacity: 0;
                        position: absolute;
                        top: 10rem;
                        left: 3.7rem;
                        display: flex;
                        flex-direction: row;
                        gap: 0.5px;
                        div {
                            padding: 0.5rem 1.7rem;
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }

        .work {
            padding: 2rem 10.5rem;
            &-image {
                &-detail {
                    .cross {
                        top: 45%;
                        left: 45%;
                    }

                    .word {
                        font-size: 1.2rem;
                        padding: 0.25rem 1rem;
                    }
                }
            }
        }

        .do {
            padding: 2rem 10.5rem;
        }

        .feature {
            padding: 3rem 10.5rem;
            &-main {
                &-detail {
                    h3 {
                        margin-top: 2.5rem;

                        font-size: 1.3rem;
                    }

                    p {
                        font-size: 1rem;
                    }
                }
            }
        }

        .stay {
            display: flex;
            flex-direction: column;
            .title1 {
                padding: 2rem 10.5rem;
            }
            img {
                padding: 0;
            }
            &-main {
                padding: 2rem 10.5rem;

                p {
                    font-size: 1rem;
                    line-height: 2rem;
                }
            }
            .message {
                position: static;
                padding: 2rem 10.5rem;
            }
        }
    }
}

@media screen and (max-width: 46.1875em) {
    .body {
        .modest {
            padding: 2rem 5.5rem;
            padding-bottom: 1rem;
            &-main {
                padding-top: 1rem;
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                &-left {
                    p {
                        margin-bottom: 1rem;
                        font-size: 1.3rem;
                    }
                    .icon {
                        margin-bottom: 2rem;
                        div {
                            padding: 0.2rem 1rem;
                            font-size: 1.5rem;
                        }
                    }
                }
                &-right {
                    .idea {
                        margin-bottom: 1rem;
                        &-number {
                            margin-top: 0;
                            font-size: 1.5rem;
                            padding: 0.2 1rem;
                        }
                        &-main {
                            &-title {
                                font-size: 1.2rem;
                                line-height: 2rem;
                            }
                            &-word {
                                font-size: 1rem;
                                line-height: 1.5rem;
                            }
                        }
                    }
                }
            }
        }
        .team {
            padding: 1rem 5.5rem;
            &-main {
                margin-top: 2rem;
                display: grid;
                grid-template-rows: repeat(2, 1fr);
                grid-template-columns: repeat(2, 1fr);
                gap: 3.5rem 2rem;
                &-detail {
                    position: relative;
                    .icon {
                        opacity: 0;
                        position: absolute;
                        top: 10rem;
                        left: 3.7rem;
                        display: flex;
                        flex-direction: row;
                        gap: 0.5px;
                        div {
                            padding: 0.5rem 1.7rem;
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }

        .work {
            padding: 2rem 5.5rem;
            &-image {
                display: grid;
                grid-template-rows: repeat(3, 1fr);
                grid-template-columns: repeat(2, 1fr);
                gap: 2.5rem;
            }
            &-more {
                margin-left: 37%;
            }
        }

        .do {
            padding: 2rem 5.5rem;
            &-main {
                display: grid;
                grid-template-rows: repeat(4, 1fr);
                grid-template-columns: repeat(2, 1fr);
                gap: 2.5rem;
                margin-bottom: 0;
            }
        }

        .feature {
            padding: 3rem 5.5rem;
            &-main {
                display: flex;
                flex-direction: column;
                &-detail {
                    h3 {
                        margin-top: 2.5rem;

                        font-size: 1.6rem;
                    }

                    p {
                        font-size: 1.3rem;
                        padding-right: 10rem;
                    }
                }
            }
        }

        .stay {
            display: flex;
            flex-direction: column;
            .title1 {
                padding: 2rem 5.5rem;
            }
            img {
                padding: 0;
            }
            &-main {
                padding: 2rem 5.5rem;

                p {
                    font-size: 1rem;
                    line-height: 2rem;
                }
            }
            .message {
                position: static;
                padding: 2rem 5.5rem;
                .login-box3 {
                    resize: none;
                }
            }
        }
    }
}
